@page
@model FACILITIES.Pages.Offices.Configuration
@{
    ViewData["Title"] = "Configuration";
}
<br />
<div style="background-color: #f1f1f2;" class="pt-3 pb-3 pl-3 pr-3">
    <h2>Office Configuration</h2>
    <h4>Create New Configuration</h4>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <form method="post" id="configuration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <h4>Select Office</h4>
                <br />
                <select asp-for="Office.OfficeID" class="form-control" asp-items="ViewBag.OfficeID"></select>
            </div>

            <br />

            <div class="form-group col-md-12 shadow-sm p-4 mb-4 bg-white">
                <h4>Select Applicable Item(s)</h4>
                <br />

                @foreach (var o in ViewBag.ItemID)
                {
                    <label>
                        <input type="checkbox" name="MyItems" value="@o.Value" /><span>@o.Text</span>
                    </label>
                    <br />
                }

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>


    </div>

</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}