@page
@model FACILITIES.Pages.Offices.EditModel

@{
    ViewData["Title"] = "Edit";
}
<br />
<div style="background-color: #f1f1f2;" class="pt-3 pb-3 pl-3 pr-3">
    <h2>Offices</h2>
    <h4>Edit Office</h4>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Office.OfficeID" />
            <div class="form-group">
                <label asp-for="Office.Name" class="control-label"></label>
                <input asp-for="Office.Name" class="form-control" />
                <span asp-validation-for="Office.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.Addr1" class="control-label"></label>
                <input asp-for="Office.Addr1" class="form-control" />
                <span asp-validation-for="Office.Addr1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.Addr2" class="control-label"></label>
                <input asp-for="Office.Addr2" class="form-control" />
                <span asp-validation-for="Office.Addr2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.Town" class="control-label"></label>
                <input asp-for="Office.Town" class="form-control" />
                <span asp-validation-for="Office.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.City" class="control-label"></label>
                <input asp-for="Office.City" class="form-control" />
                <span asp-validation-for="Office.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.Postcode" class="control-label"></label>
                <input asp-for="Office.Postcode" class="form-control" />
                <span asp-validation-for="Office.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.Country" class="control-label"></label>
                <input asp-for="Office.Country" class="form-control" />
                <span asp-validation-for="Office.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.Telephone" class="control-label"></label>
                <input asp-for="Office.Telephone" class="form-control" />
                <span asp-validation-for="Office.Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.LandlordName" class="control-label"></label>
                <input asp-for="Office.LandlordName" class="form-control" />
                <span asp-validation-for="Office.LandlordName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.LandlordEmail" class="control-label"></label>
                <input asp-for="Office.LandlordEmail" class="form-control" />
                <span asp-validation-for="Office.LandlordEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.LandlordTelephone" class="control-label"></label>
                <input asp-for="Office.LandlordTelephone" class="form-control" />
                <span asp-validation-for="Office.LandlordTelephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.Sqft" class="control-label"></label>
                <input asp-for="Office.Sqft" class="form-control" />
                <span asp-validation-for="Office.Sqft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Office.LeaseDate" class="control-label"></label>
                <input asp-for="Office.LeaseDate" class="form-control" />
                <span asp-validation-for="Office.LeaseDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Office.CompanyID" class="control-label"></label>
                <select asp-for="Office.CompanyID" class="form-control" asp-items="ViewBag.CompanyID"></select>
                <span asp-validation-for="Office.CompanyID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Office.ManagerID" class="control-label"></label>
                <select asp-for="Office.ManagerID" class="form-control" asp-items="ViewBag.ManagerID"></select>
                <span asp-validation-for="Office.ManagerID" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Office.ItemID" class="control-label"></label>
                <select asp-for="Office.ItemID" class="form-control" asp-items="ViewBag.ItemID"></select>
                <span asp-validation-for="Office.ItemID" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <div class="kt-section">
            <h3 class="kt-section__title">Live demo</h3>
            <div class="kt-section__desc">
                Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.
            </div>
            <div class="kt-section__content kt-section__content--border">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-brand" data-toggle="modal" data-target="#exampleModal">
                    Add Systems
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <form class="kt-form" method="post">
                                        <div class="kt-porlet__body">
                                            <div class="kt-section kt-section--first">
                                                <div class="form-group">
                                                    <label>Office Name</label>
                                                    <select asp-for="Setting.OfficeID" class="form-control" asp-items="ViewBag.OfficeID"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label>System</label>
                                                    <select asp-for="Setting.ItemID" class="form-control" asp-items="ViewBag.ItemID"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Setting.DueDate" class="control-label"></label>
                                                    <input asp-for="Setting.DueDate" class="form-control" />
                                                    <span asp-validation-for="Setting.DueDate" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Setting.NextDate" class="control-label"></label>
                                                    <input asp-for="Setting.NextDate" class="form-control" />
                                                    <span asp-validation-for="Setting.NextDate" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label>Frequency</label>
                                                    <select asp-for="Setting.FrequencyID" class="form-control" asp-items="ViewBag.FrequencyID"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Supplier</label>
                                                    <select asp-for="Setting.CompanyID" class="form-control" asp-items="ViewBag.CompanyID"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Responsibility</label>
                                                    <select asp-for="Setting.ResponsibilityID" class="form-control" asp-items="ViewBag.ResponsibilityID"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <select asp-for="Setting.StatusID" class="form-control" asp-items="ViewBag.StatusID"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Setting.Comment" class="control-label"></label>
                                                    <textarea rows="4" cols="50" asp-for="Setting.Comment" class="form-control">Comment</textarea>
                                                    <span asp-validation-for="Setting.Comment" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" value="Create" class="btn btn-sm btn-primary" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Done</button>
                                <button type="button" class="btn btn-brand">Done & Add Another</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    

</div>


<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    System
                </th>
                <th>
                    Frequency
                </th>
                <th>
                    Service Date
                </th>
                <th>
                    Next Date
                </th>
                <th>
                    Supplier
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    test
                </td>
                <td>
                    test
                </td>
                <td>
                    test
                </td>
                <td>
                    test
                </td>
                <td>
                    test
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

