@page
@model FACILITIES.Pages.ItemConfigs.CreateModel

@{
    ViewData["Title"] = "Create";
}
<br />
<div style="background-color: #f1f1f2;" class="pt-3 pb-3 pl-3 pr-3">
    <h2>Item Configuration</h2>
    <h4>Create Office Configuration</h4>
</div>
<br />
<div class="row">
    <div class="col-md-4 shadow-sm p-4 mb-4 bg-white">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="ItemConfig.Items_csv" class="control-label"></label>
                    <input asp-for="ItemConfig.Items_csv" class="form-control" />
                    <span asp-validation-for="ItemConfig.Items_csv" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <h4 style="background-color: #f1f1f2;">Select Office</h4>
                <br />
                @*<label asp-for="ItemConfig.OfficeID" class="control-label"></label>*@
                <select asp-for="ItemConfig.OfficeID" class="form-control" asp-items="ViewBag.OfficeID"></select>
            </div>
            <br />
            @*<div class="form-group">
                    <label asp-for="ItemConfig.ItemID" class="control-label"></label>
                    <select asp-for="ItemConfig.ItemID" class ="form-control" asp-items="ViewBag.ItemID"></select>
                </div>*@

            <!--ITEMS CHECKBOX CODE-->
            <h4 style="background-color: #f1f1f2;">Select Applicable Item(s)</h4>
            <div class="form-group col-md-12">
                <br />
                @foreach (var item in ViewBag.ItemID)
                {
                    <label asp-for="ItemConfig.ItemID" class="control-label">
                        <input type="checkbox" name="MyItems" value="@item" /><span> @item.Text</span>
                    </label>
                    <br />
                }
            </div>

            <!--SUBMIT BUTTON-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

