@page
@model FACILITIES.Pages.Permissions.CreateModel

@{
    ViewData["Title"] = "Create";
}

    <div class="kt-container kt-container--fluid pb-4" style="background-color: #fff;">
        <br />
        <div class="pt-3 pb-3 pl-3 pr-3">
            <h1><b>Permission</b></h1>
            <h4>Create New Permission</h4>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                        <label asp-for="Permission.Name" class="control-label"></label>
                        <input asp-for="Permission.Name" class="form-control" />
                        <span asp-validation-for="Permission.Name" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Permission.AccountType" class="control-label"></label>
                        <input asp-for="Permission.AccountType" class="form-control" />
                        <span asp-validation-for="Permission.AccountType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-sm btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn-sm btn-primary" asp-page="Index">Back to List</a>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
