@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"> </div>
            <div class="col-10 text-center">
                <br />
                <br />
                <br />
                <img src="https://i.ibb.co/XS94BWw/Facilities-Management-Home-Logo.png" class="img-fluid" />
                <br />
                <br />
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</body>



@*<div class="container-fluid">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4 card">
            <div class="card-body">
                <div class="chartjs-wrapper">
                    <canvas id="chartjs-4" class="chartjs" width="634" height="317" style="display: block; width: 634px; height: 317px;"></canvas>
                    <script>
                        new Chart(document.getElementById("chartjs-4"), {
                            "type": "doughnut", "data": {
                                "labels": ["Charles", "Helen", "Matthew"],
                                "datasets": [{
                                    "label": "My First Dataset", "data": [300, 50, 100],
                                    "backgroundColor": ["rgb(61, 192, 120)", "rgb(55, 178, 216)", "rgb(58, 185, 169)"],

                                }]
                            }
                        });
                    </script>
                </div>
            </div>
            <div class="col-4">

            </div>

        </div>
    </div>
</div>*@
