@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron jumbotron-fluid" style="background-color: #f2f2f2;">
    <div class="container">
        <h1 class="display-4 text-center">Facilities Management</h1>
        <p class="lead text-center">Facilities Management Online Checklist</p>
    </div>

    <div class="text-center">
        <a href="https://localhost:44339/settings/create">
            <input type="button" class="btn btn-primary" value="Login" />
        </a>
    </div>
    

</div>

