@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 text-center">
                <img src="~/media/logos/Estates Management Front.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 text-center">
                <a class="btn btn-lg btn-warning" asp-area="" asp-page="/Dashboard/DashboardMenu">DASHBOARD</a>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>



