@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Facilities Management</h1>
        <p class="lead text-center">Facilities Management Online Checklist</p>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary">Login</button>
    </div>

    <div class="col-md-4">

        <div class="card">
            <div class="card-body">
                <canvas id="bar-chart" width="800" height="450"></canvas>

            </div>
        </div>

    </div>


</div>

