@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
        <div style="display: flex; justify-content: center;" >
            <img src="https://i.ibb.co/PtRqCzd/FM-Banner.jpg" />
        </div>
        <br />
        <div class="text-center">
            <a href="https://localhost:44339/settings/create">
                <input type="button" class="btn btn-primary" value="Login" />
            </a>
        </div>
    
</div>