@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron jumbotron-fluid" style="background-color: #f2f2f2;">
    <div style="display: flex; justify-content: center;">
        <img src="https://i.ibb.co/vQ4mBbT/FM-Logo-SMALL.jpg" height="350" width="350">
    </div>
    <br />
    <div class="container">
        <p class="lead text-center">Facilities Management Online Checklist</p>
    </div>

    <div class="text-center">
        <a href="https://localhost:44339/settings/create">
            <input type="button" class="btn btn-primary" value="Login" />
        </a>
    </div>
</div>

