@page "{id:int?}"
@model FACILITIES.Pages.Settings.EditModel

@{
    ViewData["Title"] = "Edit";
}
<br />
<div style="background-color: #f1f1f2;" class="pt-3 pb-3 pl-3 pr-3">
    <h2>Settings</h2>
    <h4>Edit Settings</h4>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Setting.SettingID" />
            <div class="form-group">
                <label asp-for="Setting.OfficeID" class="control-label">Office Name</label>
                <select asp-for="Setting.OfficeID" class="form-control" asp-items="ViewBag.OfficeID"></select>
                <span asp-validation-for="Setting.OfficeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setting.ItemID" class="control-label">Select System</label>
                <select asp-for="Setting.ItemID" class="form-control" asp-items="ViewBag.ItemID"></select>
                <span asp-validation-for="Setting.ItemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setting.DueDate" class="control-label"></label>
                <input asp-for="Setting.DueDate" class="form-control" />
                <span asp-validation-for="Setting.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setting.NextDate" class="control-label"></label>
                <input asp-for="Setting.NextDate" class="form-control" />
                <span asp-validation-for="Setting.NextDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setting.FrequencyID" class="control-label">Set Frequency</label>
                <select asp-for="Setting.FrequencyID" class="form-control" asp-items="ViewBag.FrequencyID"></select>
                <span asp-validation-for="Setting.FrequencyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setting.CompanyID" class="control-label">Company Name</label>
                <select asp-for="Setting.CompanyID" class="form-control" asp-items="ViewBag.CompanyID"></select>
                <span asp-validation-for="Setting.CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setting.ResponsibilityID" class="control-label">Set Responsibility</label>
                <select asp-for="Setting.ResponsibilityID" class="form-control" asp-items="ViewBag.ResponsibilityID"></select>
                <span asp-validation-for="Setting.ResponsibilityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setting.StatusID" class="control-label">Set Status</label>
                <select asp-for="Setting.StatusID" class="form-control" asp-items="ViewBag.StatusID"></select>
                <span asp-validation-for="Setting.StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setting.Comment" class="control-label"></label>
                <input asp-for="Setting.Comment" class="form-control" />
                <span asp-validation-for="Setting.Comment" class="text-danger"></span>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
                Edit
            </button>
            <a class="btn btn-sm btn-primary" asp-page="./Index">Back to List</a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm Changes?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                            <input type="hidden" asp-for="Setting.SettingID" />
                            <input type="submit" value="Update" class="btn btn-sm btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
