@page
@model FACILITIES.Pages.Files.EditModel

@{
    ViewData["Title"] = "Edit";
}
<br />
<div style="background-color: #f1f1f2;" class="pt-3 pb-3 pl-3 pr-3">
    <h2>Files</h2>
    <h4>Edit File</h4>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="File.FileID" />
            <div class="form-group">
                <label asp-for="File.FileName" class="control-label"></label>
                <input asp-for="File.FileName" class="form-control" />
                <span asp-validation-for="File.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File.MimeType" class="control-label"></label>
                <input asp-for="File.MimeType" class="form-control" />
                <span asp-validation-for="File.MimeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File.Extension" class="control-label"></label>
                <input asp-for="File.Extension" class="form-control" />
                <span asp-validation-for="File.Extension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File.FileSize" class="control-label"></label>
                <input asp-for="File.FileSize" class="form-control" />
                <span asp-validation-for="File.FileSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File.StoreLocation" class="control-label"></label>
                <input asp-for="File.StoreLocation" class="form-control" />
                <span asp-validation-for="File.StoreLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File.TestColumn" class="control-label"></label>
                <input asp-for="File.TestColumn" class="form-control" />
                <span asp-validation-for="File.TestColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn-sm btn-primary" asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
